/**
 * @section Base Styles
 */
$primary: #bec1c7;
$highlight: #ebedf0;
$accent: #2b2921;
$deep-accent: #1b1a15;

$primary-font-face: 'Roboto', sans-serif;
 
:root {
    --primary: #{$primary};
    --highlight: #{$highlight};
    --deep-accent: #{$deep-accent};
    --accent: #{$accent};
    --primary-font-face: #{$primary-font-face};

    color: var(--primary);
    font-family: var(--primary-font-face);
    font-weight: 100;
}

body {
    width: 100%;
	margin: 0;
	background-color: var(--accent);
}

section {
    max-width: 88%;
	margin: 0 auto;
}

h1 {
    font-weight: 300;
    font-size: 3rem;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
}

h3, h4, h5, h6 {
    font-weight: 200;
}

input,
textarea,
select,
button {
	font: inherit;
}

