#nav {
    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_logo {
        font-size: 2em;
        margin-left: 2em;
        &:hover {
            text-decoration: none;
        }
    }
}

.nav {
    &_list {
        display: flex;
        width: 45%;
        padding: 8px;
        justify-content: space-around;
        align-items: flex-end;
    }

    &_list-item {
        display: inline;
    }

    &_link {
        text-decoration: none;
        font-weight: 300;
        color: var(--primary);

        &:active {
            color: var(--primary);
        }

        &:hover {
            text-decoration: underline;
        }

        &__external {
            --offset: 2px;
            display: inline-block;
            white-space: nowrap;
            
            img.ext-icon {
                height: 1rem;
                margin-left: 0.5rem;
                position: relative;
                transform: translateY(var(--offset));
                padding-top: var(--offset);
                // cheeky filter from StackOverflow to set color on an img SVG
                // https://codepen.io/sosuke/pen/Pjoqqp
                filter: invert(100%) sepia(0%) saturate(7463%) hue-rotate(215deg) brightness(109%) contrast(110%);
            }
        }
    }
}

#banner {
    &_wrapper {
        width: 100%;
        max-width: 100%;
        position: relative;

        // after element hides the image gallery and then reveals it after page load via transition
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: opacity 1.5s ease-in-out;
            background-color: var(--deep-accent);
        }

        &.active {
            &:after {
                opacity: 0.0;
            }
        }
    }

    &_heading {
        position: relative;
        font-size: 4em;
        margin: 0 0 0 1em;
        padding: 2em 0;
        color: var(--highlight);
        font-weight: 300;
    }
}

.banner_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease;

    &__active {
        opacity: 1;
    }
}

#toc {
    &_box {
        display: inline-block;
        background-color: var(--light-accent);
        border: 2px solid var(--accent);
        padding: 1em;
        width: auto;
    }

    &_descriptor {
        font-size: 1em;
        text-align: center;
    }

    &_top-list {
        padding: 0 2em;
    }
}

.toc {
    &_list {
        padding-left: 1.5em;
    }

    &_list-item {
        a {
            text-decoration: none;
            font-weight: 300;
            color: var(--primary);
    
            &:active {
                color: var(--primary);
            }
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#coursework {
    &_list {
        display: inline-block;
        width: auto;
        max-height: 0;
        margin: 0;
        transition: max-height 1s ease;
        overflow: hidden;

        &[class*="visible"] {
            max-height: 40em;
        }
    }
}

.coursework {
    &_subject {
        text-align: center;
    }
}

section {
    &.main-content {
        margin: 2em auto;
        h1 {
            margin-bottom: 0.4em;
        }
        h2, h3 {
            margin: 0.4em 0;
        }
    }
}

#resume {
    display: inline-block;
    margin-right: 1rem;
}

#resume-header {
    &_wrapper {
        display: flex;
        align-items: center;
    }

    &_download-button {
        position: relative;
        transform: translateY(50%);
    }
}

.resume-line {
    min-width: 400px;
    max-width: 800px;
    margin: 1.5em 0;
    align-items: center;

    &.degree-line {
        display: flex;
        margin: 1em 0;
    }

    &_degree-names {
        flex: 70;
        margin-right: 2.5em;
    }

    &_degree-date {
        flex: 30;
        text-align: end;
    }

    * {
       margin-top: 0.25em;
       margin-bottom: 0.25em; 
    }
}

.heading-link {
    text-decoration: none;
    color: var(--primary);
    &:visited, &:active {
        text-decoration: none;
        color: var(--primary);
    }
    &:hover {
        text-decoration: underline;
    }
}

.portfolio {
    &_project {
        &-desc {
            padding: 0 2em;
            max-height: 0;
            font-size: 0;
            transition: max-height 1s ease, font-size 1s ease;
        }

        &-heading {
            position: relative;
            padding: 0 1em;
            overflow: hidden;
            white-space: nowrap;
            font-size: 1.5em;
            // TODO: vary font size or otherwise handle text running long on small screen sizes
            transition: font-size 1s ease;
            &:hover {
                background-color: var(--accent);
            }
        }

        &-wrapper {
            background-color: var(--light-accent); 
            border: 2px solid var(--highlight); // #615e5e
            border-radius: 0.25em;
            cursor: pointer;
            margin: 1em 0;
            max-width: 100%;
            max-height: 4.5em;
            transition: border-width 0.5s ease,
                        max-width 1s ease,
                        max-height 1s ease,
                        margin 1s ease;

            &__hidden {
                border-width: 0px;
                max-width: 0;
                max-height: 0;
                margin: 0;
                > h3 {
                    font-size: 0;
                }
            }

            &__expanded {
                max-height: 20em;
                cursor: auto;
                > p {
                    // TODO: figure out how to make the height dynamic, since collapsing will be delayed
                    max-height: 100em;
                    font-size: 1em;
                }
                > h3 {
                    cursor: pointer;
                }
            }
        }

        &-expand-collapse-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            max-width: 24px;
            transition: max-width 1s ease;
            padding-right: 24px;

            &__hidden {
                max-width: 0px;
            }
        }
    }
}

.certification {
    &_cert-wrapper {
        display: flex;
        margin: 1em 0;
    }

    &_cert-title {
        flex: 75;
        margin-right: 2.5em;
    }

    &_cert-date {
        flex: 25;
        text-align: end;
    }
}