.nav {
    &_list {
        display: flex;
        margin-left: 50%;
        padding: 8px;
        justify-content: space-around;
    }

    &_list-item {
        display: inline;
    }

    &_link {
        text-decoration: none;
        font-weight: 300;
        color: var(--primary);

        &:active {
            color: var(--primary);
        }

        &:hover {
            text-decoration: underline;
        }

        &__external {
            --offset: 2px;
            display: flex;
            align-items: center;
            display: inline-block;
            img.ext-icon {
                position: relative;
                height: 1rem;
                transform: translateY(var(--offset));
                padding-top: var(--offset);
                // cheeky filter from StackOverflow to set color on an img SVG
                // https://codepen.io/sosuke/pen/Pjoqqp
                filter: invert(100%) sepia(0%) saturate(7463%) hue-rotate(215deg) brightness(109%) contrast(110%);
            }
        }
    }
}

#banner {
    &_wrapper {
        width: 100%;
        max-width: 100%;
        position: relative;
        // background-color: var(--deep-accent);

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 1.25s ease-in;
            overflow: hidden;
            background-image: url('./../img/crab.jpg');
        }

        &.active {
            &:before {
                opacity: 0.6;
            }
        }
    }

    &_heading {
        font-size: 4em;
        margin: 0 0 0 1em;
        padding: 2em 0;
        color: var(--highlight);
        font-weight: 300;
    }
}