.link {
    display: inline;
}

.link--active {
    font-weight: var(--heavy-font-weight);
}

.link:link, .link:visited, .link:hover, .link:active, .link:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
}

