
body {
  /* keep navbar width the same regardless of scrollbar */
  overflow: hidden; 
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  bottom: 0px;
  text-align: center;
  background-color: var(--main-color);
  width: 100%;
}

.scroll-wrapper {
  overflow-y: auto;
}